/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Shadows+Into+Light+Two&display=swap');

/* Root variables */
:root {
    --primary-color: #1C1F62;
    --secondary-color: #1E203F;
    --accent1-color: #A8AABA;
    --accent2-color: #E7EAE9;
    
    --heading-font: 'Shadows Into Light Two', cursive;
    --paragraph-font: 'Nanum Pen Script', cursive;
    
    --nav-background-color: #1C1F62;
    --nav-link-color: #1E203F;
    --nav-hover-link-color: #A8AABA;
    --nav-hover-background-color: #E7EAE9;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    padding: 25px;
}

/* Remove underlines from social media links */
.sociallinks a {
    text-decoration: none; /* Remove underlines */
}
  
/* Limit the width of the entire page */

/* Style the hero container */
.hero {
    position: relative;
    text-align: center; /* Center-align the content within the hero container */
}

/* Style the hero image */
.hero img {
    width: 100%;
    height: auto;
}

/* Style the h1 heading */
.hero h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    color: aliceblue;
    z-index: 1; /* Ensure the heading is on top of the image */
}

/* Style the paragraph and article container */
.hero article {
    position: absolute;
    top: 55%; /* Adjust the top position as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the article container is on top of the image */
    width: 80%; /* Adjust the width as needed */
    text-align: left; /* Align text to the left within the article container */
    background-color: rgba(0, 0, 0, 0.7); /* Background color with opacity */
    padding: 20px; /* Add padding for readability */
}

/* Style the paragraph within the article */
.hero article p {
    font-size: 16px; /* Adjust the font size as needed */
    color: var(--nav-hover-link-color); /* Font color */
}

/* Style the "happy-working-employees" image within the article container */
.hero article img {
    float: right; /* Float the image to the right */
    width: 8%; /* Adjust the width as needed */
    height: auto;
    margin-left: 10px; /* Add spacing between the image and the paragraph */
}
