@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Shadows+Into+Light+Two&display=swap');

:root {
    --primary-color: #1C1F62;
    --secondary-color: #1E203F;
    --accent1-color: #A8AABA;
    --accent2-color: #E7EAE9;
    
    --heading-font: 'Shadows Into Light Two', cursive;
    --paragraph-font: 'Nanum Pen Script', cursive;
    
    --nav-background-color: #1C1F62;
    --nav-link-color: #1E203F;
    --nav-hover-link-color: #A8AABA;
    --nav-hover-background-color: #E7EAE9;
}

body, h1, h2, p, ul, li, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--heading-font, var(--paragraph-font));
    font-size: 16px;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-color);
}

header {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    padding: 10px 0;
    text-align: center;
}

header img {
    max-width: 100%;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 10px;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    pad: 20px;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    color: var(--secondary-color);
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 2.5rem;
}

.hero article {
    background-color: var(--accent1-color);
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--accent2-color);
}

.hero article img {
    float: right;
    margin: 0 0 10px 10px;
}

.sociallinks {
    margin-top: 10px;
}

.sociallinks a {
    display: inline-block;
    margin: 0 10px;
}

.sociallinks img {
    width: 30px;
}

